<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="MONGOTEST_URI" value="mongodb://liebre:liebre@ds039000.mongolab.com:39000/liebre" />
    <add key="SOME_API_KEY" value="XYZ123" />
    <add key="ConexionGestionProyectos" value="server=ITPOR-IRD\PRUEBAS;database=IRDCOL;integrated security=true;" />
  </appSettings>
</configuration>